<article class="article-card">
    <div class="wrap">
        <div class="image">

        </div>
        <div class="data">
            <div class="subtitle">
                {{ blog.title }}
            </div>
            <div class="title">
                <h2>{{ post.title}}</h2>
            </div>
        </div>
    </div>
</article>