{{ 'component--search.css' | asset_url | stylesheet_tag }}

<div class="search-component">

    <button class="search-icon-nav" aria-label="Open search">
        {% render 'icon--search' %}
    </button>

    <div class="search-form-component-nav">
        <div class="search-component-close" aria-label="Close search">
            &times;
        </div>
        <div class="bar">
            {% render 'searchbar', text: 'Search the store'  %}
        </div>
    </div>

</div>