{% comment %} 
*
*  Image Slide
*
{% endcomment %}

<style>
    .slide-image.desktop {
      display: block;
    }
    .slide-image.mobile {
      display: none;
    }
    @media screen and (max-width: 767px) {
      .slide-image.mobile {
        display: block;
      }
      .slide-image.desktop {
        display: none;
      }
    }
</style>

<div class="swiper-slide slide__image" data-type="image">
    <div onclick="window.location='{{ block.settings.image_slide_url }}';" class="slide-image desktop" data-type="image" data-layout="image" style="background-image: url('{{ block.settings.image_slide_image | image_url }}'); background-size: cover; background-position: top center;">
    </div>

    <div class="slide-image mobile" data-type="image" data-layout="image" style="background-image: url('{{ block.settings.image_slide_image_mobile | image_url }}'); background-size: cover; background-position: top center;">
      </div>
</div>