
<div class="navbar-mobile">
  
  {% if settings.announcement_showhide == true %}
    {% render 'announcement-bar' %}
  {% endif %}

  <div class="navbar-mobile--row">

    <div class="menu-button-holder">
      <div class="menu-button">
        <span>Menu</span>
      </div>
    </div>

    <div class="logo">
        {% render 'dais-text' %}
    </div>

    <div class="cart">
      <div class="cart-link--wrapper" data-ajax-cart-toggle-class-button="js-my-cart-open">
          <span class="type-writer cart-link">
              {% if cart.item_count < 10 and cart.item_count > 0 %}
                  (0<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>)
              {% elsif cart.item_count < 1 %}
                  (<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>)
              {% else %}
                  (<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>)
              {% endif %}
          </span>
          {% render 'icon--cart' %}
      </div>
    </div>

  </div>
</div>