{{ 'product--gallery.css' | asset_url | stylesheet_tag }}

<div class="image-gallery">

    {% comment %} 
    *
    * Featured Image
    *
    {% endcomment %}
    <div class="featured-image">
        <img id="featured_image_element" src="{{ product.featured_image | image_url: width: '1000' }}" />

        {% if product.metafields.music.preorder_status == true %}
            <div class="preorder-label">
                <span>{{ 'Preorder' | escape }}</span>
            </div>
        {% endif %}
    </div>

    {% comment %} 
    *
    * Thumbnails
    *
    {% endcomment %}
    {% if variant_images.size > 0 %}

        {% render 'snippet--thumbnail-rack', product: product %}    

    {% else %}

        {% if product.media.size > 1 %}
            {% render 'snippet--thumbnail-rack-media', product: product %} 
        {% endif %}

    {% endif %}

</div>
