<form action="/search" method="get" class="search-form right" role="search">
    <input name="q" type="search" id="search-field" placeholder="{{ text }}" value="{{ search.terms | escape }}" autofocus />
    <button type="submit" id="search-submit">
        {% render 'icon--search' %}
    </button>
</form>