<div class="thumbnail-rack media">

    {% for m in product.media %}
    
        {% if m != null %}
            <div class="media-thumbnail" data-id="{{ v.id }}" data-image="{{ m | image_url }}">
                <img src="{{ m | image_url: width: '500' }}" />
            </div>
        {% endif %}

    {% endfor %}

</div>

<script type="text/javascript" charset="utf-8">
jQuery(function() { 

    jQuery('.media-thumbnail').on('click', function(e) {

        var targ = jQuery(this).attr('data-image');
        jQuery('#featured_image_element').attr('src', targ);

    });

});
</script>