<div class="theme-mode">

    {% comment %} 
    *
    * Dark
    *
    {% endcomment %}
    <div class="dark-mode" tabindex="0" role="button" aria-label="Activate Dark Mode">
        {% render 'icon--moon' %}

        {% if location == 'mobile-overlay' %}
            <p>{{ 'Dark mode' | escape }}</p>
        {% endif %}
    </div>

    {% comment %} 
    *
    * Lite
    *
    {% endcomment %}
    <div class="lite-mode" tabindex="0" role="button" aria-label="Activate Lite Mode">
        {% render 'icon--sun' %}
        
        {% if location == 'mobile-overlay' %}
            <p>{{ 'Lite mode' | escape }}</p>
        {% endif %}
    </div>

</div>