<div class="theme-mode">

    {% comment %} 
    *
    * Dark
    *
    {% endcomment %}
    <div class="dark-mode">
        {% render 'icon--moon' %}

        {% if location == 'mobile-overlay' %}
            <p tabindex="2" role="button">{{ 'Dark mode' | escape }}</p>
        {% endif %}
    </div>

    {% comment %} 
    *
    * Lite
    *
    {% endcomment %}
    <div class="lite-mode">
        {% render 'icon--sun' %}
        
        {% if location == 'mobile-overlay' %}
            <p tabindex="2" role="button">{{ 'Lite mode' | escape }}</p>
        {% endif %}
    </div>

</div>