{{ 'component--latest-news.css' | asset_url | stylesheet_tag }}


{% render 'section-header', data: section.settings, destination: '/blogs/news' %}

<div class="latest-news--wrapper">

  <ul class="list">
    {% for post in blogs.news.articles limit: 4 %}
      {% render 'article-card', post: post %}
    {% endfor %}
  </ul>

</div>

{% schema %}
  {
    "name": "Latest News",
    "tag": "section",
    "class": "latest-news-section section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title"
      }, {
        "type": "page",
        "id": "link_destination",
        "label": "Link Destination"
      }
    ],
    "presets": [{
      "name": "Latest News",
      "settings": {
          "section_title": "News"
        }
    }]
  }
{% endschema %}