.artist-card {
    border: var(--border-blk);

    .artist-wrapper {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;
    }


    /*
    * IMAGE
    */
    .image {
        overflow: hidden;
        aspect-ratio: 1/1;
        // width: 350px;
        //width: calc(100vw / 5);
        width: 100%;
        margin-bottom: 0px;
        transition: opacity 0.5 ease-out;
        transition-delay: 200ms;
        position: relative;
        border-bottom: var(--border-blk);

        .view-more {
            position: absolute;
            bottom: 0px;
            right: 0px;
            opacity: 0;
            transform: translate(-50%, -50%);
            background: var(--white);
            border-radius: 3px;
            padding: 4px 8px;
            font-size: 1.8rem;
            transition: all 0.24s ease-in-out;
            font-family: var(--type-writer);

            path {
                stroke-width: 0px;
            }
        }

        .view-more:hover {
            background: var(--grey-light)
        }
    }

    .image:hover {
        opacity: 0.85;
        
        .artist-data {
            opacity: 1;
        }
        .view-more {
            bottom: 12px;
            opacity: 1;
        }
    }

    /*
    * NAME
    */
    .data,
    .artist {
        padding: 10px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    a {
        font-size: 14px;
        letter-spacing: -0.5px;
    }

    a:hover {
        text-decoration: underline;
    }

}


@media screen and (min-width: 1800px) {
    
    .artist-card {
 
        a {
            font-size: 22px;
        }
    }
    
}