#hero-swiper {

    .swiper-slide.desktop {
        display: grid;
    }

    .swiper-slide.mobile {
        display: none;
    }

    .slide__image.swiper-slide {
        display: grid;
        grid-template-columns: 1fr;
        align-items: stretch;
        height: 100%;
        position: relative;

        .slide-image {
            width: 100%;
            height: calc( 100vh );
            object-position: 0% 0%;
            cursor: pointer;
        }

        .slide-box {
            position: absolute;
            bottom: -1px;
            right: 0;
            background: var(--black-no-change);
            color: var(--white-no-change);
            max-width: 40%;

            .box-wrap {
                padding: 30px 30px 40px 30px;
            }

            .subtitle {
                font-family: var(--type-writer);
                font-size: 12px;
                display: block;
                margin: 0 0 6px 0;
            }

            .title {
                font-weight: 900;
                font-size: 22px;
                display: block;
                margin: 0 0 12px 0;
            }

            .texts {
                font-size: 12px;
                line-height: 1.3;
                letter-spacing: 0px;
            }
        }

    }

    /* Pagination */
    // .swiper-pagination-container[data-slide-type="image"] {
    //     left: 0vw;
    //     right: auto;
    // }
    // .swiper-navigation-container[data-slide-type="image"] {
    //     right: 0vw;
    // }

}


/*
----------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    #hero-swiper {

        .swiper-slide.desktop {
            display: none;
        }
    
        .swiper-slide.mobile {
            display: grid;
        }

        .slide__image.swiper-slide {
    
            .slide-image {
                width: 100%;
                height: calc(100svh - var(--nav-height) );
                object-fit: cover;
            }

            .slide-box {
                display: block;
                width: 100%;
                max-width: 100%;
            }
    
        }
    }
}