#hero-swiper {

    .swiper-slide.desktop {
        display: grid;
    }

    .swiper-slide.mobile {
        display: none;
    }

    .slide__image.swiper-slide {
        display: grid;
        grid-template-columns: 1fr;
        align-items: stretch;
        height: 100%;

        .slide-image {
            width: 100%;
            height: calc( 100vh );
            object-position: 0% 0%;
        }

    }

    /* Pagination */
    // .swiper-pagination-container[data-slide-type="image"] {
    //     left: 0vw;
    //     right: auto;
    // }
    // .swiper-navigation-container[data-slide-type="image"] {
    //     right: 0vw;
    // }

}


/*
----------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    #hero-swiper {

        .swiper-slide.desktop {
            display: none;
        }
    
        .swiper-slide.mobile {
            display: grid;
        }

        .slide__image.swiper-slide {
    
            .slide-image {
                width: 100%;
                height: calc(100vh - var(--nav-height) );
                object-fit: cover;
            }
    
        }
    }
}