.tour-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 60px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
    display: none;
    backdrop-filter: blur(1px);
    align-items: center;
    justify-content: center;

    img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100vh;
    }

}

@media screen and (max-width: 767px) {
    
    .tour-modal {
        padding: 10px;
    }

}