.search-page {
    padding: var(--nav-height) 0 0 0;

    nav {
        padding: 0 var(--side-padding);
    }

    input[type="submit"] {
        cursor: pointer;
    }

    input[type="submit"]:hover {
        text-decoration: underline;
    }

    .search-page-wrapper {

        .search-form {
            margin: 0 0 60px 0;
            padding: 40px var(--side-padding) 20px var(--side-padding);

            input[type="search"] {
                display: block;
                width: 100%;
                margin: 0 0 30px 0;
                padding: 10px 0;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                border-radius: 0px !important;
                border-bottom: var(--border-blk);
                font-size: 54px;
                color: var(--black);
                outline: 0 !important;
                background: transparent;
            }

            input[type="search"]::placeholder {
                color: var(--grey);
            }

            input:-internal-autofill-selected {
                background-color: transparent !important;
                outline: 0 !important;
            }

            input:focus {
                outline: none !important;
                appearance: none;
            }
            input:focus-visible {
                outline: none !important;
                appearance: none;
            }

            input[type="submit"] {
                padding: 0;
                border: 0;
                outline: 0;
                background: transparent;
                color: var(--black);
                text-transform: uppercase;
            }

        }

        .search-count {
            margin: 20px 0 12px 0;  
            padding: 0 var(--side-padding);
            color: var(--grey);

            h1 {
                text-transform: uppercase;
                font-family: var(--type-writer);
            }
        }

        .on-tour-notifier {
            border: var(--border-blk-no-change);
            color: var(--black);
            padding: 4px 8px;
            border-radius: 3px;
            display: inline-block;
            margin: 0 0 18px var(--side-padding);
            transition: all 0.12s ease-in-out;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6px;
                font-size: 16px;
                text-transform: uppercase;
                font-family: var(--type-writer);
            }

        }

        .on-tour-notifier:hover {
            background: var(--black);
            color: var(--white);
            //border: var(--border-wht);

            path {
                stroke: var(--white);
                fill: var(--white);
            }
        }

        ul.results {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            align-items: flex-start;
            grid-gap: 60px var(--side-padding);
            list-style: none;
            padding: 0 var(--side-padding);

            li {
                border-top: 0;
                border-right: 0;
                border-left: 0;
                display: flex;
                flex-direction: column;
                gap: 4px;

                .image {
                    overflow: hidden;
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: var(--border-blk);
                    margin: 0 0 6px 0;
                    cursor: pointer;
                    transition: all 0.12s ease-in-out;
                    position: relative;
                    
                    img {
                        min-width: 100%;
                        height: 100%;
                        display: block;
                    }

                    .soldout-tag {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        z-index: 8;

                        span {
                            //margin: 4px 0;
                            display: inline-block;
                            padding: 4px 8px;
                            background: var(--black);
                            color: var(--white);
                            width: auto;
                            font-family: var(--type-writer);
                            text-transform: uppercase;
                            word-spacing: -4px;
                        }
                    }


                }

                .image:hover {
                    opacity: 0.74;
                }

                .subtitle, .price {
                    font-family: var(--type-writer);
                    text-transform: uppercase;
                }

                .title {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    h2 {
                        font-size: 16px;
                        color: var(--black);
                        line-height: 1.2;
                    }

                    h3.vendor {
                        font-family: var(--type-writer);
                        color: var(--black);
                        text-transform: uppercase;
                    }
                }

                .title:hover {
                    text-decoration: underline;
                }

                .type {
                    font-family: var(--type-writer);
                    color: var(--grey);
                    text-transform: uppercase;
                }

                .actions {
                    display: flex;
                    justify-content: flex-end;

                    a {
                        text-decoration: underline;
                        font-family: var(--type-writer);
                        color: var(--grey);
                        text-transform: uppercase;
                    }
                }

                ul.tags {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    text-transform: uppercase;
                    color: var(--grey);
                }

            }
        }
        
        .no-results {
            padding: 0 var(--side-padding) 30px var(--side-padding);
            font-family: var(--type-writer);
        }

        .empty-search {
            padding: 0 30px 30px 30px;

            .current-artists {
                .title {
                    margin: 0 0 16px 0;
                    padding: 0 var(--side-padding);
    
                    h3 {
                        font-size: var(--32px);
                        color: var(--black);
                        text-transform: uppercase;
                    }
                }
            }

        }

    }
}


/*
-----------------------------------------------------------------------------------------------
MEDIA QUERIES ---> MEDIA QUERIES ---> MEDIA QUERIES ---> MEDIA QUERIES ---> MEDIA QUERIES ---> 
-----------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 767px) {
    
    .search-page {
        padding: calc(var(--nav-height) + 30px) 0 0 0;

        .search-page-wrapper {


            ul.results {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

        }
    }

}