{{ 'page--tour-dates.css' | asset_url | stylesheet_tag }}
{{ 'component--tour-modal.css' | asset_url | stylesheet_tag }}

<div class="tour-page">
    <div class="tour-page-wrapper">

        {% section 'tour-page--hero' %}
        
        <div class="tour-dates-container">
            <div class="tour-dates-wrapper">

                {% comment %}
                *
                * Tour Dates
                *
                {% endcomment %}
                <ul class="tour-dates-list">

                    {% for coll in collections %}
                        {% case coll.template_suffix %}
                            {% when 'artist' %}
                    
                            {% if coll.metafields.artist.tour_dates.value != blank %}
                                
                                {% comment %}
                                *
                                * Single Date
                                *
                                {% endcomment %}
                                {% render 'tour-card', coll: coll %}
                            
                            {% endif %}
                        {% endcase %}
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>
</div>
