.navbar-mobile {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: var(--white);
    border-bottom: var(--border-blk);

    .menu-button {
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--black);
        color: var(--black);
        font-family: var(--type-writer);
        text-transform: uppercase;
    }

    .navbar-mobile--row {
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        align-items: center;
        
        padding: 4px 14px;
        font-size: 2rem;
    }

    .logo {
        text-align: center;

        a {
            display: flex;
            z-index: 9;
            height: 100%;
        }
        
        img, svg {
            width: 100%;
            max-height: 42px;
        }

    }

    .cart {
        text-align: right;
        
        .cart-link--wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 3px;
            color: var(--black);

            svg {
                transform: translateY(-1px);
            }
        }

 
    }

}